services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: clinica_app
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: clinica_app_test
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U clinica_app -d clinica_app_test"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build:
      context: .
      dockerfile: Dockerfile.test
    environment:
      RAILS_ENV: test
      DATABASE_URL: postgres://clinica_app:123456@db:5432/clinica_app_test
    depends_on:
      db:
        condition: service_healthy
    stdin_open: true
    tty: true

volumes:
  postgres_data:
